* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.heading {
  color: #666;
  text-align: center;
  margin: 1rem 0;
}

.todo-container {
  width: 400px;
  margin: 1rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(max-width:600px) {
  .todo-container {
    width: 350px;
  }
}
